<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/bootstrap.css">
  <link rel="stylesheet" href="style/main.css">
  <style>
   [v-cloak] {
      display: none;
    }
  </style>
    <title>Todo</title>
  </head>
  <body>
    <div class="container bold "  id="app" v-cloak>
      <div class="row">
         <h1 class=" text-center text-light">{{title}}</h1>
        <div class="card p-3">
           <div class="form">
             <input type="text" class="form-control  col-12 " 
              v-model="inputValue"
               >
           </div>
           <button class="btn btn-success  col-5 col-sm-5 m-3 col-md-2"  v-on:click="addNewNote">შენიშვნის დამატება</button>
           <hr>
           <ul class="list-group">
             <li class="list-group-item d-flex justify-content-between align-items-center" v-for="(item, index) in notes">
              ჩამაწერი  {{index + 1}}:  {{item}}
                <button class="btn btn-danger  col-5 col-sm-5 col-md-2" v-on:click="deleteNote(index)"> შენიშვნის წაშლა</button>
             </li>
           </ul>
        </div>
      </div>
    </div>

     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

     <script src="app.js"></script>
  </body>
</html>
